
<div class="permissions">
  <div class="col-lg-12 col-md-12 col-sm-12 permissions__header-block">
    
  </div>
  <div class="col-lg-2 col-md-2 col-sm-4 permissions__menu-block">

  </div>
  <div class="col-lg-10 col-md-10 col-sm-8 permissions__content-block">    
    <div class="permissions__content-block__users">
    <div class="col-lg-12 col-md-12 col-sm-12"><strong>{{user.username}}</strong></div>
      <login-activity></login-activity>
      <module-permission></module-permission>        
      </div>
    </div>
</div>
